@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #0f172a;
    
    --primary: #4f46e5;
    --primary-foreground: #ffffff;
    
    --secondary: #f1f5f9;
    --secondary-foreground: #1e293b;
    
    --muted: #f8fafc;
    --muted-foreground: #64748b;
    
    --accent: #f1f5f9;
    --accent-foreground: #0f172a;
    
    --destructive: #ef4444;
    --destructive-foreground: #ffffff;
    
    --border: #e2e8f0;
    --input: #e2e8f0;
    --ring: #4f46e5;
  }

  .dark {
    --background: #0f172a;
    --foreground: #f8fafc;
    
    --primary: #6366f1;
    --primary-foreground: #ffffff;
    
    --secondary: #1e293b;
    --secondary-foreground: #f8fafc;
    
    --muted: #020617;
    --muted-foreground: #94a3b8;
    
    --accent: #1e293b;
    --accent-foreground: #f8fafc;
    
    --destructive: #7f1d1d;
    --destructive-foreground: #f8fafc;
    
    --border: #1e293b;
    --input: #1e293b;
    --ring: #6366f1;
  }
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
  }
  button {
    cursor: pointer;
  }
}

@layer components {
    @keyframes marqueeScroll {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(-50%);
        }
    }
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}